<div class="container">
  <!-- Heading -->
  <h2>Minecraft Loot Table Explorer</h2>

  <!-- Welcome card -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="padding-top">This website can be used to look at Minecraft loot tables, modify them, and optionally save
        the modifications. You can also build a new loot table from scratch. The goal of the website is to simplify the
        loot table creation process, to avoid needing to learn complicated inner workings of loot tables (which
        Microsoft seem to keep making worse every year). The current version of this website is only compatible with
        Minecraft versions 1.20.5 and 1.20.6. I'll update it whenever I feel the need to, meaning that I will never
        guarantee quick updates or support for specific versions at all. However, all the code is open source and open
        for contributions on <a href="https://github.com/soni801/mc-loot-table-explorer" target="_blank">GitHub<mat-icon class="text-icon" fontIcon="open_in_new"></mat-icon></a>.</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-button (click)="fileInput.click()">IMPORT</button>
        <button mat-button (click)="exportFile()">EXPORT</button>
        <mat-form-field appearance="outline">
          <mat-label>File name</mat-label>
          <input matInput [(ngModel)]="fileName">
          <span matSuffix>.json</span>
        </mat-form-field>
      </div>
      <input hidden (change)="onFileSelected()" #fileInput type="file" accept="application/json" id="import-file-input">
      <a hidden id="export-file-anchor"></a>
    </mat-card-actions>
  </mat-card>

  <!-- Pools -->
  <h4 class="padding-top">Pools</h4>
  <mat-accordion>
    @for (pool of pools; track pool) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Pool {{pools.indexOf(pool) + 1}}</mat-panel-title>
          <mat-panel-description>{{pool.entries.length}} entries</mat-panel-description>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="poolDataSources[pools.indexOf(pool)]">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{element.weight}}</td>
          </ng-container>
          <ng-container matColumnDef="functions">
            <th mat-header-cell *matHeaderCellDef>Functions</th>
            <td mat-cell *matCellDef="let element">{{element.functions ? element.functions.length : 0}} functions</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
